main{
    .card__container-form{
        width: 800px;
        height: 500px;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        margin-bottom: 100px;
        background-color: #d8cdbc;
        .card__header{
            width: 100%;
            margin: 0 auto;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            padding: 15px;
            background-color: #a8865a;
            h3{
                margin: 0;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .card__body{
            padding: 20px;
            .form__group{
                margin-bottom: 20px;
                label{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
                input[type="text"], input[type="email"], textarea{
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 1.5;
                }
                button[type="submit"]{
                    background-color: #008cba;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    padding: 10px 20px;
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                }
                }
            }
            .motivo{
                display: flex;
                justify-content: space-evenly;
            }
        .enviar__form{
            display: flex;
            justify-content: center;
            button{
                width: 200px;
                margin-top: 15px;
                border-radius: 20px;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                border: 5px;
                background-color: #e2d5c4;
            }
        }
        }
        
    }
