// Arrancamos con el header
header{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
    .header__logo{
        display: flex;
        align-items: center;
        h2{
            font-family: fantasy;
            padding-left: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        img{
            height: 100px;
        }
    }
}

nav{
    padding-right: 15px;
    z-index: 2;
    .header__menu{
        display: flex;
        a{
            text-decoration: none;
            color: black;
        }
        li{
            list-style-type: none;
            padding-right: 10px;
            font-weight: 600;
        }
        .lista__nav{
            &:hover{
                color: #8a8a8a;
            }
        }
    }
}
// Menu Hamburguesa.
header{
    .label__menu{
        display: none;
    }
    .ham__menu{
        display: none;
    }
}

// Ahora arrancamos con la seccion principal y su imagen de fondo
main{
    .section__titulo{
        display: flex;
        background-image: url(../img/campo\ 2.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 700px;
        flex-wrap: wrap;
        z-index: 1;
        .div__titulo{
            font-size: 68px;
            font-weight: 500;
            font-style: italic;
            color: #080500;
            position: absolute;
            top: 230px;
            left: 50px;
            font-family: fantasy;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
            
        }
        .div__subtitulo{
            font-size: 34px;
            font-weight: 300;
            color: #080500;
            position: absolute;
            top: 300px;
            left: 50px;
            height: fit-content;
        }
    }
}
// Ahora agregamos estilo a la seccion de productos destacados.
.productosdestacados{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    background-color: #cecab8;
    height: 400px;
    .prod__titulo{
        font-size: 2.8rem;
        font-family: fantasy;
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
    .gridcontainer__productos{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        align-items: center;
        margin: 15px;
        .griditem__destacados{
            text-align: center;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease-in-out;
            height: 282px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: column;
            img{
                max-width: 100%;
                height: 154px;
            }
            h3{
                margin-top: 10px;
                font-size: larger;
            }
            p{
                margin: 0;
                font-size: 14px;
                
            }
            button{
                margin-top: 10px;
                margin-bottom: 10px;
                border: none;
                border-radius: 5px;
                padding: 5px;
                background-color: #a1a09c;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2)
                
            }
            &:hover {
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                }
        }

    }
}
// Ahora agregamos el footer.
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    background-color: beige;
    .iconos__instagram{
        margin-right: 40px;
    }
    .iconos__twitter{
        margin-right: 40px;
    }
    .iconos__facebook{
        margin-right: 40px;
    }
    .instagram{
        font-size: 45px;
    }
    .twitter{
        font-size: 45px;
    }
    .facebook{
        font-size: 45px;
    }
}

