*{
    margin: 0px;
    padding: 0px;
}
/* Menu de Navegacion */
header{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo img{
    height: 100px;
}
.header__menu{
    display: flex;

}
.header__menu a{
    text-decoration: none;
    color: black;
}
.header__menu li{
    list-style-type: none;
    padding-right: 10px;
    font-weight: 600;
}
.lista__nav:hover{
    color: #8a8a8a;
}
/* Seccion principal con Imagen de fondo */
/* .section__titulo{
    display: flex;
    background-image:url(../img/campo\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 425px;
    flex-wrap: wrap;
}
.div__titulo{
    font-size: 68px;
    font-weight: 500;
    font-style: italic;
    color: #080500;
    position: absolute;
    top: 230px;
    left: 50px;
}
.div__subtitulo{
    font-size: 34px;
    font-weight: 300;
    color: #080500;
    position: absolute;
    top: 300px;
    left: 50px;
}
/* Seccion Productos destacados */
/* .productosdestacados{
    text-align: center;
    font-size: 15px;
}
.gridcontainer__productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
}
.griditem__destacados{
    text-align: center;
}
.griditem__destacados img{
    max-width: 100%;
    height: auto;
}
.griditem__destacados h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.griditem__destacados p{
    margin: 0;
    font-size: 14px;
}
.griditem__destacados button{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
} */
/* footer */

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10x 10px;
    background-color: #9c7643;
    justify-content: space-around;
}

.imgFooter{
    width: 100px;
}

.iconos__instagram{
    margin-right: 40px;

}
.iconos__twitter{
    margin-right: 40px ;
}

.iconos__facebook{
    margin-right: 40px;
}

.instagram{
    font-size: 45px;
}

.facebook{
    font-size: 45px;

}
.twitter{
    font-size: 45px;
}

/* Pagina Sobre Nosotros */

/* Seccion Main */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.columna__1 {
    background-color: #f9f9f9;
    padding: 20px;
}

.columna__2 {
    background-color: #f1f1f1;
    padding: 20px;
} 
.columna__1 h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
} 
.columna__1 p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.columna__2 img {
    max-width: 100%;
    height: auto;
} */
